# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


Makefile
config.h
config.log
config.status
libtool
stamp-h1
*.o
*.la
*.lo
*.so
.*.swp
autom4te.cache/
config.h.in~
src/.deps/
src/.libs/
src/sequoia

test/.deps/
test/.libs/
test/Makefile
test/graphs_unittest
test/labeled_graph_unittest
test/logic_unittest
test/mindegree_heuristic_unittest
test/moves_unittest
test/parser_unittest
test/tdc_unittest
nbproject/

contrib/sparsehash-2.0.2/.deps/
contrib/sparsehash-2.0.2/hashtable_test
contrib/sparsehash-2.0.2/libc_allocator_with_realloc_test
contrib/sparsehash-2.0.2/libsparsehash.pc
contrib/sparsehash-2.0.2/simple_compat_test
contrib/sparsehash-2.0.2/simple_test
contrib/sparsehash-2.0.2/sparsetable_unittest
contrib/sparsehash-2.0.2/src/config.h.in~
contrib/sparsehash-2.0.2/src/sparsehash/internal/sparseconfig.h
contrib/sparsehash-2.0.2/template_util_unittest
contrib/sparsehash-2.0.2/time_hash_map
contrib/sparsehash-2.0.2/type_traits_unittest
